html {
    box-sizing: border-box;
    font-size: 16px;
    
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

.background {
    display: flex;
    background-color: #35B0B0;
}

.logo {
    display: flex;
    margin-top: auto;
    position: absolute;
    width: 200px;
    height: 156px;
    left: 228px;
    top: 111px;
    
}

.text-logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    width: 386px;
    height: 184px;
    font-size: 64px;
    line-height: 92.42px;
    color: #FFFFFF;
    

}

.header-name {
    position: absolute;
    width: 216px;
    height: 365px;
    font-size: 90px;
    line-height: 130px;
    color: #FFFFFF;
    margin-top: 84px;
    margin-left: 226px;
    
}
.social {
    display: flex;
}

.social-name {
    font-size: 48px;
    line-height: 70px;
}
