html {
    box-sizing: border-box;
    font-size: 16px;
    
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

.main {
    display: flex;
    background-color: #35B0B0;
}

.block-left {
    background: url(images/puntos.png);
    width: 45%;
    margin-left: 10%;
    float: left;
}

.block-logo {
    display: flex;
    align-items: center;
    margin-bottom: 84px;
    margin-top: 97px;
    /* width: 606px;
    height: 184px; */
}

.logo {
    width: 200px;
    height: 156px;
    margin: auto;
}

.name-logo {
    width: 386px;
    height: 184px;
    margin-left: 20px;
}

.text-logo {
    font-size: 64px;
    line-height: 94px;
    color: #FFFFFF;
}

.land-name {
    width: 654px;
    height: 130px;
    margin-bottom: 67px;
}

.text-name {
    font-size: 90px;
    line-height: 144.4%;
    color: #FFFFFF;
}

.block-social-inst {
    display: flex;
}

.logo-social {
    margin-right: 30px;
    margin: auto 0;
}

.name-social {
    font-size: 48px;
    line-height: 70px;
    color: #FFFFFF;
    margin-left: 30px;
}

/* .languges {
    align-items: center;
} */

.block-right {
    width: 1031px;
}